.quoteBox {
    max-width: 300px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(224, 224, 224);
    border-radius: 5px;
}

.btnFav {
    background-color: rgb(208, 208, 255);
}

.btnFav:hover {
    background-color: rgb(153, 153, 255);
}